
body{
   width: 100%;
   margin:0 auto;
}
hr{
   width: 100%;
}
@font-face {
   font-family: "Open Sans" ;
   src: url('../font/Open_Sans/OpenSans-Italic.ttf')format('woff');
   font-family: "Montserrat";
   src : url('../font/Montserrat/Montserrat-Italic.ttf')format('woff');
   font-family: "Pacifico";
   src : url('../font/Pacifico/Pacifico-Regular.ttf')format('woff');
}
@import url('source/_header.less');
@import url('source/_main.less');
@import url('source/_new.less');
@import url('source/_footer.less');